In [1]:
import pandas as pd
from geo_utils import filter_france_metr

df_car = pd.read_csv('data/caracteristiques.csv',dtype={'dep':'str','com':'str','code_insee':'str'})
df_car = filter_france_metr(df_car)

df_vehicules = pd.read_csv('data/vehicules.csv')

In [2]:
df_velos = df_vehicules[df_vehicules['catv'].isin([1,50,60,80])]

In [19]:
df_accidents_velo = df_car.merge(df_velos,how='inner',on='Num_Acc')

In [20]:
df_accidents_velo.drop_duplicates(subset=['Num_Acc'], keep='last',inplace=True)

In [21]:
df_accidents_velo = filter_france_metr(df_accidents_velo)

In [6]:
df_usagers = pd.read_csv('data/usagers.csv')

In [7]:
df_lieux = pd.read_csv('data/lieux.csv',low_memory=False)

In [22]:
from date_utils import create_date_column,create_dow_column

df_accidents_velo['date'] = create_date_column(df_accidents_velo)

def get_period(x):
    if x< 6:
        return "Aube"
    elif x<16:
        return "Jour"
    elif x<19:
        return "Crépuscule"
    else:
        return "Nuit"
df_accidents_velo["periode_journee"]=df_accidents_velo["hrmn"].apply(lambda x: get_period(int(x[:2])))

In [24]:
df_accidents_velo['day_of_week'] = create_dow_column(df_accidents_velo)

In [25]:
df_accidents_velo = df_accidents_velo[["Num_Acc", "lum","agg", "int", "atm", "col", "date", "periode_journee","day_of_week"]]

In [27]:
df_jours_feries = pd.read_csv('data/jours_feries_metropole.csv')

In [28]:
df_jours_feries['date'] = pd.to_datetime(df_jours_feries['date'])

           date  annee       zone   nom_jour_ferie
0    2002-01-01   2002  Métropole      1er janvier
1    2002-04-01   2002  Métropole  Lundi de Pâques
2    2002-05-01   2002  Métropole          1er mai
3    2002-05-08   2002  Métropole            8 mai
4    2002-05-09   2002  Métropole        Ascension
..          ...    ...        ...              ...
281  2027-07-14   2027  Métropole       14 juillet
282  2027-08-15   2027  Métropole       Assomption
283  2027-11-01   2027  Métropole        Toussaint
284  2027-11-11   2027  Métropole      11 novembre
285  2027-12-25   2027  Métropole     Jour de Noël

[286 rows x 4 columns]